In [132]:
import pandas as pd

In [134]:
patientheartrate = pd.read_csv(r'patient_heart_rate.csv')
patientheartrate

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In [152]:
patientheartrate.head(5)

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther

In [153]:
#problem 1
#them header va dataframe de dien giai du lieu 
column_names=["Id", "Name", "Age","Weight",'m0006', 'm0612', 'm1218','f0006','f0612','f1218']
#Doc file du lieu
patientheartrate = pd.read_csv("patient_heart_rate.csv", names = column_names)

In [154]:
#hien thi vai dong du lieu dau tien ra man hinh 
print(patientheartrate.head(5))

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [156]:
#tách cột 'Name' thành hai cột mới 'Firstname' và 'Lastname' trong DataFrame patientheartrate.
#Problem 2
patientheartrate[['Firstname', 'Lastname']]=patientheartrate['Name'].str.split(expand = True)
patientheartrate

,Id,Name,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1.0,Mickéy Mousé,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,Donald Duck,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,Mini Mouse,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,Pink Panther,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,Dewey McDuck,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,Scööpy Doo,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9.0,Huey McDuck,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
12,10.0,Louie McDuck,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck
13,11.0,Henry Nam,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
14,12.0,Michel Long,34.0,NaN,65,67,55,-,-,-,Michel,Long
15,13.0,Tana Ricky,NaN,NaN,-,-,-,68,72,70,Tana,Ricky
16,14.0,UniLever,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UniLever,None
17,15.0,NaN,52.0,180lbs,-,-,-,68,75,72,NaN,NaN

In [139]:
#xóa cột name
patientheartrate = patientheartrate.drop('Name',axis=1)
patientheartrate

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
12,10.0,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck
13,11.0,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
14,12.0,34.0,NaN,65,67,55,-,-,-,Michel,Long
15,13.0,NaN,NaN,-,-,-,68,72,70,Tana,Ricky
16,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UniLever,None
17,15.0,52.0,180lbs,-,-,-,68,75,72,NaN,NaN

In [157]:

#Problem 3
#chuyển đổi từ pounds sang kilograms trong cột 'Weight' của patientheartrate.
weight=patientheartrate['Weight']
for i in range(len(weight)):
  x = str(weight[i])
  if "lbs" in x[-3:]:
   
    x = x[:-3]
    float_x = float(x)
    y = int(float_x/2.205)
    y = str(y)+"kgs"
    weight[i] = y
print(patientheartrate.head(5))

    Id            Name   Age Weight m0006 m0612 m1218 f0006 f0612 f1218  \
0  1.0    Mickéy Mousé  56.0  70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0  70kgs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0    NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN  78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  90kgs     -     -     -    69   NaN    75

  Firstname Lastname
0    Mickéy    Mousé
1    Donald     Duck
2      Mini    Mouse
3   Scrooge   McDuck
4      Pink  Panther

C:\Users\admin\AppData\Local\Temp\ipykernel_23660\3245187738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_23660\3245187738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_23660\3245187738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_23660\3245187738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
C:\Users\admin\AppData\Local\Temp\ipykernel_23660\3245187738.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

In [158]:
#Problem 4
# loại bỏ các hàng chỉ chứa giá trị NaN
patientheartrate.dropna(how="all", inplace=True)
patientheartrate

,Id,Name,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1.0,Mickéy Mousé,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,Donald Duck,34.0,70kgs,-,-,-,85,84,76,Donald,Duck
2,3.0,Mini Mouse,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,Scrooge McDuck,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,Pink Panther,54.0,90kgs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,Huey McDuck,52.0,85kgs,-,-,-,68,75,72,Huey,McDuck
6,7.0,Dewey McDuck,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,Scööpy Doo,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
11,9.0,Huey McDuck,52.0,85kgs,-,-,-,68,75,72,Huey,McDuck
12,10.0,Louie McDuck,12.0,45kgs,-,-,-,92,95,87,Louie,McDuck
13,11.0,Henry Nam,NaN,60kgs,78,75,72,-,-,-,Henry,Nam
14,12.0,Michel Long,34.0,NaN,65,67,55,-,-,-,Michel,Long
15,13.0,Tana Ricky,NaN,NaN,-,-,-,68,72,70,Tana,Ricky
16,14.0,UniLever,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UniLever,None
17,15.0,NaN,52.0,81kgs,-,-,-,68,75,72,NaN,NaN

In [22]:
#Problem 5
#xử lý và loại bỏ các hàng trùng lặp dựa trên các cột được chỉ định
patientheartrate = patientheartrate.drop_duplicates(subset=['Firstname', 'Lastname','Age','Weight'])
print(patientheartrate)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [159]:
#Problem6
#làm sạch các ký tự không phải ASCII trong các cột 'Firstname' và 'Lastname'
#giúp chuẩn hóa dữ liệu và loại bỏ các ký tự không mong muốn.
patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print(patientheartrate)

      Id            Name   Age Weight m0006 m0612 m1218 f0006 f0612 f1218  \
0    1.0    Mickéy Mousé  56.0  70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0  70kgs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0    NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN  78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  90kgs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0  56kgs     -     -     -    71    78    75
7    8.0      Scööpy Doo  32.0  78kgs    78    76    75     -     -     -
11   9.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
12  10.0    Louie McDuck  12.0  45kgs     -     -     -    92    95    87
13  11.0       Henry Nam   NaN  60kgs    78    75    72     -     -     -
14  12.0     Michel Long  34.0    NaN    65    67    55     -     -     -
15  13.0      Tana Ricky   NaN    NaN     -     -     -    68    72    70
16  14.0        UniLever   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN
17  15.0             NaN  52.0  81kgs     -     -     -    68    75    72

   Firstname Lastname
0      Micky     Mous
1     Donald     Duck
2       Mini    Mouse
3    Scrooge   McDuck
4       Pink  Panther
5       Huey   McDuck
6      Dewey   McDuck
7       Scpy      Doo
11      Huey   McDuck
12     Louie   McDuck
13     Henry      Nam
14    Michel     Long
15      Tana    Ricky
16  UniLever     None
17       NaN      NaN

C:\Users\admin\AppData\Local\Temp\ipykernel_23660\1098575670.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_23660\1098575670.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [160]:
#Problem 7
# điền các giá trị thiếu trong cột 'Age' bằng giá trị trung bình của cột đó và lưu trực tiếp vào DataFrame.
patientheartrate['Age'].fillna(patientheartrate['Age'].mean(), inplace =False)

0     56.000000
1     34.000000
2     16.000000
3     37.545455
4     54.000000
5     52.000000
6     19.000000
7     32.000000
11    52.000000
12    12.000000
13    37.545455
14    34.000000
15    37.545455
16    37.545455
17    52.000000
Name: Age, dtype: float64

In [33]:
#missing_age = patientheartrate['Age'].isnull().sum()
#print(missing_age)

4

In [35]:
#missing_weight = patientheartrate['Weight'].isnull().sum()
#print(missing_weight)

4

In [52]:
#patientheartrate.head()

In [43]:
#mean_age = patientheartrate['Age'].mean()
#print(mean_age)

36.1

In [44]:
#patientheartrate['Age'].fillna(mean_age, inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_23660\4022728838.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate['Age'].fillna(mean_age, inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_23660\4022728838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patientheartrate['Age'].fillna(mean_age, inplace=True)

In [54]:
#patientheartrate

In [55]:
#patientheartrate = patientheartrate.dropna(subset=['Age', 'Weight'], how='all')

In [56]:
#patientheartrate

In [57]:
# ProBlem 8
#patientheartrate

In [58]:
patientheartrate

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0  36.1  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0  36.1    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0  36.1    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [161]:
#biến đổi patientheartrate thành dạng dài (long format) và sắp xếp các hàng theo thứ tự của các cột 'Id', 'Age', 'Weight', 'Firstname', 'Lastname'.
patientheartrate_ = pd.melt(patientheartrate, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name="PulseRate",var_name="sex_and_time").sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])
patientheartrate_

       Id   Age Weight Firstname Lastname sex_and_time     PulseRate
0     1.0  56.0  70kgs     Micky     Mous         Name  Mickéy Mousé
15    1.0  56.0  70kgs     Micky     Mous        m0006            72
30    1.0  56.0  70kgs     Micky     Mous        m0612            69
45    1.0  56.0  70kgs     Micky     Mous        m1218            71
60    1.0  56.0  70kgs     Micky     Mous        f0006             -
..    ...   ...    ...       ...      ...          ...           ...
44   15.0  52.0  81kgs       NaN      NaN        m0612             -
59   15.0  52.0  81kgs       NaN      NaN        m1218             -
74   15.0  52.0  81kgs       NaN      NaN        f0006            68
89   15.0  52.0  81kgs       NaN      NaN        f0612            75
104  15.0  52.0  81kgs       NaN      NaN        f1218            72

[105 rows x 7 columns]

In [165]:
# lưu vào DataFrame tmp_patientheartrate, mỗi nhóm trong biểu thức chính quy sẽ là một cột trong DataFrame mới.
tmp_patientheartrate= patientheartrate_["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)

In [166]:
tmp_patientheartrate

       0    1    2
0    NaN  NaN  NaN
15     m   00   06
30     m   06   12
45     m   12   18
60     f   00   06
..   ...  ...  ...
44     m   06   12
59     m   12   18
74     f   00   06
89     f   06   12
104    f   12   18

[105 rows x 3 columns]

In [168]:
# DataFrame tmp_patientheartrate đã được đổi tên các cột thành "Sex", "hours_lower" và "hours_upper".
tmp_patientheartrate.columns=["Sex","hours_lower","hours_upper"]
tmp_patientheartrate

     Sex hours_lower hours_upper
0    NaN         NaN         NaN
15     m          00          06
30     m          06          12
45     m          12          18
60     f          00          06
..   ...         ...         ...
44     m          06          12
59     m          12          18
74     f          00          06
89     f          06          12
104    f          12          18

[105 rows x 3 columns]

In [71]:
#thêm cột "Time" vào tmp_patientheartrate chứa giá trị từ các cột "hours_lower" và "hours_upper" được nối với dấu gạch ngang (-) giữa chúng.
tmp_patientheartrate["Time"]=tmp_patientheartrate["hours_lower"] + "-"+ tmp_patientheartrate["hours_upper"]
tmp_patientheartrate

   Sex hours_lower hours_upper   Time
0    m          00          06  00-06
14   m          06          12  06-12
28   m          12          18  12-18
42   f          00          06  00-06
56   f          06          12  06-12
..  ..         ...         ...    ...
27   m          06          12  06-12
41   m          12          18  12-18
55   f          00          06  00-06
69   f          06          12  06-12
83   f          12          18  12-18

[84 rows x 4 columns]

In [169]:
#tạo ra một DataFrame mới patientheartrate.
patientheartrate =pd.concat([patientheartrate_, tmp_patientheartrate], axis=1)
patientheartrate

,Id,Age,Weight,Firstname,Lastname,sex_and_time,PulseRate,Sex,hours_lower,hours_upper
0,1.0,56.0,70kgs,Micky,Mous,Name,Mickéy Mousé,NaN,NaN,NaN
15,1.0,56.0,70kgs,Micky,Mous,m0006,72,m,00,06
30,1.0,56.0,70kgs,Micky,Mous,m0612,69,m,06,12
45,1.0,56.0,70kgs,Micky,Mous,m1218,71,m,12,18
60,1.0,56.0,70kgs,Micky,Mous,f0006,-,f,00,06
...,...,...,...,...,...,...,...,...,...,...
44,15.0,52.0,81kgs,NaN,NaN,m0612,-,m,06,12
59,15.0,52.0,81kgs,NaN,NaN,m1218,-,m,12,18
74,15.0,52.0,81kgs,NaN,NaN,f0006,68,f,00,06
89,15.0,52.0,81kgs,NaN,NaN,f0612,75,f,06,12
104,15.0,52.0,81kgs,NaN,NaN,f1218,72,f,12,18

In [170]:
#Problem 8
#loại bỏ các cột không cần thiết và giữ lại các thông tin quan trọng trong DataFrame.

columns_to_drop = ['sex_and_time', 'hours_lower', 'hours_upper']
existing_columns = [col for col in columns_to_drop if col in patientheartrate.columns]
patientheartrate = patientheartrate.drop(existing_columns, axis=1)

In [171]:
#loại bỏ các hàng có giá trị NaN từ DataFrame patientheartrate
patientheartrate = patientheartrate.dropna()
patientheartrate

      Id   Age Weight Firstname Lastname PulseRate Sex
15   1.0  56.0  70kgs     Micky     Mous        72   m
30   1.0  56.0  70kgs     Micky     Mous        69   m
45   1.0  56.0  70kgs     Micky     Mous        71   m
60   1.0  56.0  70kgs     Micky     Mous         -   f
75   1.0  56.0  70kgs     Micky     Mous         -   f
90   1.0  56.0  70kgs     Micky     Mous         -   f
16   2.0  34.0  70kgs    Donald     Duck         -   m
31   2.0  34.0  70kgs    Donald     Duck         -   m
46   2.0  34.0  70kgs    Donald     Duck         -   m
61   2.0  34.0  70kgs    Donald     Duck        85   f
76   2.0  34.0  70kgs    Donald     Duck        84   f
91   2.0  34.0  70kgs    Donald     Duck        76   f
19   5.0  54.0  90kgs      Pink  Panther         -   m
34   5.0  54.0  90kgs      Pink  Panther         -   m
49   5.0  54.0  90kgs      Pink  Panther         -   m
64   5.0  54.0  90kgs      Pink  Panther        69   f
94   5.0  54.0  90kgs      Pink  Panther        75   f
20   6.0  52.0  85kgs      Huey   McDuck         -   m
35   6.0  52.0  85kgs      Huey   McDuck         -   m
50   6.0  52.0  85kgs      Huey   McDuck         -   m
65   6.0  52.0  85kgs      Huey   McDuck        68   f
80   6.0  52.0  85kgs      Huey   McDuck        75   f
95   6.0  52.0  85kgs      Huey   McDuck        72   f
21   7.0  19.0  56kgs     Dewey   McDuck         -   m
36   7.0  19.0  56kgs     Dewey   McDuck         -   m
51   7.0  19.0  56kgs     Dewey   McDuck         -   m
66   7.0  19.0  56kgs     Dewey   McDuck        71   f
81   7.0  19.0  56kgs     Dewey   McDuck        78   f
96   7.0  19.0  56kgs     Dewey   McDuck        75   f
22   8.0  32.0  78kgs      Scpy      Doo        78   m
37   8.0  32.0  78kgs      Scpy      Doo        76   m
52   8.0  32.0  78kgs      Scpy      Doo        75   m
67   8.0  32.0  78kgs      Scpy      Doo         -   f
82   8.0  32.0  78kgs      Scpy      Doo         -   f
97   8.0  32.0  78kgs      Scpy      Doo         -   f
23   9.0  52.0  85kgs      Huey   McDuck         -   m
38   9.0  52.0  85kgs      Huey   McDuck         -   m
53   9.0  52.0  85kgs      Huey   McDuck         -   m
68   9.0  52.0  85kgs      Huey   McDuck        68   f
83   9.0  52.0  85kgs      Huey   McDuck        75   f
98   9.0  52.0  85kgs      Huey   McDuck        72   f
24  10.0  12.0  45kgs     Louie   McDuck         -   m
39  10.0  12.0  45kgs     Louie   McDuck         -   m
54  10.0  12.0  45kgs     Louie   McDuck         -   m
69  10.0  12.0  45kgs     Louie   McDuck        92   f
84  10.0  12.0  45kgs     Louie   McDuck        95   f
99  10.0  12.0  45kgs     Louie   McDuck        87   f

In [172]:
#11
#cung cấp cho bạn tỉ lệ phần trăm dữ liệu thiếu trên cột 'PulseRate', giúp đánh giá mức độ thiếu sót của dữ liệu trong cột này.
missing_bp = patientheartrate['PulseRate'].isnull().sum() / len(patientheartrate) * 100

In [88]:
print(missing_bp)

0.0

In [173]:
# xử lý các giá trị thiếu trong cột 'PulseRate' bằng cách sử dụng kỹ thuật nội suy để cải thiện chất lượng dữ liệu.
patientheartrate['PulseRate_filled'] = patientheartrate['PulseRate'].fillna(patientheartrate['PulseRate'].interpolate())

C:\Users\admin\AppData\Local\Temp\ipykernel_23660\2832544027.py:2: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  patientheartrate['PulseRate_filled'] = patientheartrate['PulseRate'].fillna(patientheartrate['PulseRate'].interpolate())

In [177]:
#đảm bảo rằng tất cả các giá trị trong cột 'PulseRate' đều có thể được biểu diễn như là số
patientheartrate['PulseRate'] = pd.to_numeric(patientheartrate['PulseRate'], errors='coerce')

In [178]:
#xử lý dữ liệu thiếu bằng cách sử dụng giá trị trung bình của các giá trị gần nhau
patientheartrate['PulseRate_filled'] = patientheartrate['PulseRate'].fillna(patientheartrate['PulseRate'].rolling(window=2, min_periods=1).mean())

In [179]:
#cột 'PulseRate_filled' trong patientheartrate sẽ chứa các giá trị của 'PulseRate' đã được điền các giá trị thiếu theo phương pháp trên.
patientheartrate['PulseRate_filled'] = patientheartrate['PulseRate'].fillna(patientheartrate['PulseRate'].rolling(window=2, min_periods=1).mean().shift(-1))

In [183]:
#giá trị 'PulseRate' sẽ được thay thế bằng trung bình của nhóm tương ứng ('Id')
patientheartrate['PulseRate_filled'] = patientheartrate.groupby('Id')['PulseRate'].transform(lambda x: x.fillna(x.mean()))

In [184]:
#giá trị 'PulseRate' sẽ được thay thế bằng trung bình của nhóm tương ứng ('Firstname')

patientheartrate['PulseRate_filled'] = patientheartrate.groupby('Firstname')['PulseRate'].transform(lambda x: x.fillna(x.mean()))

In [185]:
#đảm bảo rằng mỗi giá trị thiếu trong cột 'PulseRate' sẽ được thay thế bằng giá trị trung bình của toàn bộ cột 'PulseRate'.
patientheartrate['PulseRate_filled'] = patientheartrate['PulseRate'].fillna(patientheartrate['PulseRate'].mean())

In [186]:
#đảm bảo rằng mỗi giá trị thiếu trong cột 'PulseRate' sẽ được thay thế bằng giá trị ổn định trong y học  ( 120)
medical_stable_value = 120
patientheartrate['PulseRate_filled'] = patientheartrate['PulseRate'].fillna(medical_stable_value)

In [121]:
print(patientheartrate[['Id', 'PulseRate', 'PulseRate_filled']])

      Id  PulseRate  PulseRate_filled
0    1.0       72.0              72.0
1    1.0       69.0              69.0
2    1.0       71.0              71.0
3    1.0        NaN             120.0
4    1.0        NaN             120.0
5    1.0        NaN             120.0
6    2.0        NaN             120.0
7    2.0        NaN             120.0
8    2.0        NaN             120.0
9    2.0       85.0              85.0
10   2.0       84.0              84.0
11   2.0       76.0              76.0
12   4.0       78.0              78.0
13   4.0       79.0              79.0
14   4.0       72.0              72.0
15   4.0        NaN             120.0
16   4.0        NaN             120.0
17   4.0        NaN             120.0
18   5.0        NaN             120.0
19   5.0        NaN             120.0
20   5.0        NaN             120.0
21   5.0       69.0              69.0
22   5.0       75.0              75.0
23   6.0        NaN             120.0
24   6.0        NaN             120.0
25   6.0        NaN             120.0
26   6.0       68.0              68.0
27   6.0       75.0              75.0
28   6.0       72.0              72.0
29   7.0        NaN             120.0
30   7.0        NaN             120.0
31   7.0        NaN             120.0
32   7.0       71.0              71.0
33   7.0       78.0              78.0
34   7.0       75.0              75.0
35   8.0       78.0              78.0
36   8.0       76.0              76.0
37   8.0       75.0              75.0
38   8.0        NaN             120.0
39   8.0        NaN             120.0
40   8.0        NaN             120.0
41  10.0        NaN             120.0
42  10.0        NaN             120.0
43  10.0        NaN             120.0
44  10.0       92.0              92.0
45  10.0       95.0              95.0
46  10.0       87.0              87.0
47  11.0       78.0              78.0
48  11.0       75.0              75.0
49  11.0       72.0              72.0
50  11.0        NaN             120.0
51  11.0        NaN             120.0
52  11.0        NaN             120.0

In [119]:
patientheartrate.reset_index(drop=True, inplace=True)

In [120]:
patientheartrate.to_csv('patient_heart_rate_clean.csv', index=False)